{
	"client_id" : "2bd65cef9b4045c9f4697efc2735618c926b191f",
	"client_secret" : "OK3g8jcZ+EWaSfkVPr83nmOLuP2y+dZ7axcx/YbqVAnjBUaXhXqtVr23Ze3SmZiz2ByDI3Bxx2+Vh0dERigLkDulnXVNiYa8v4KGNsdvkOnEtnK3N0KayDyJ9bDPaRRw",
	"access_token" : "be9757a7048aae4c2ea76ca6df1ec8ef"
}
